/*Footer*/

.brand-footer {
    padding-top: 8rem;
    pointer-events: none;
    left: 0;
    right: 0;
}
.footer-image {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 11rem;
}
.footer-navbar {
    margin: 2rem;
}
.footer {
    background-color: #ededed;
    }
.instagram {
    color: #833AB4;
    text-decoration: none;
    margin: 1rem;
    }
    
    .facebook {
    text-decoration: none;
    margin: 1rem;
    }
    
    .tiktok {
    text-decoration: none;
    margin: 1rem;
    color: black;
    }