/*Products*/

.img-shirts {
    width: 25rem;
    height: 25rem;
    }
.product-shirt {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    letter-spacing: .1rem;
    font-size: smaller;
    
    p {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    }