/*Media query*/
@media only screen and (max-width: 992px) {
    .brand {
        display: none;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 22rem;
    }
    .text-about {
        padding: 0;
    }
    }